@import "~vuetify/dist/vuetify.min.css";
@import "~@mdi/font/scss/materialdesignicons";
@import "~typeface-roboto/index.css";

.hide{
    visibility: hidden;
}
.fullwidth{
    width: 100%;
}

.menu-list{
    .text{
        text-transform: capitalize;
        text-align: left;
        font: .85rem Roboto, sans-serif;
    }
    .btn{
        width: 100%;
        justify-content: left;
    }
}
