<template>
    <div>
        Reporte de ventas de productos
    </div>
</template>

<script>
    export default {
        name: "Reporte de ventas de productos"
    }
</script>

<style scoped>

</style>
