<template>
    <v-app id="inspire">
        <v-navigation-drawer
            v-model="drawer"
            :clipped="$vuetify.breakpoint.lgAndUp"
            app
        >
            <v-list dense class="menu-list">
                <div v-for="item in items">
                    <v-btn class="btn" :to="{name: item.url}">
                        <v-icon left dark v-text="item.icon"></v-icon>
                        <div class="text" v-text="item.text"></div>
                    </v-btn>

                    <div v-for="child in item.children">
                        <v-btn class="btn" :to="{name: child.url}">
                             <v-icon left dark v-text="child.icon"></v-icon>
                            <div class="text" v-text="child.text"></div>
                        </v-btn>
                    </div>
                </div>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar
            :clipped-left="$vuetify.breakpoint.lgAndUp"
            app
            color="blue darken-3"
            dark
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
            <v-toolbar-title
                style="width: 300px"
                class="ml-0 pl-4"
            >
                <span class="hidden-sm-and-down">
                    <span class="hide">Ferrotodo</span>

                </span>
            </v-toolbar-title>
            <v-spacer/>
            <span class="hide"> Alcides (Sistemas UTB)</span>
        </v-app-bar>
        <v-content>
            <v-container
                class="fill-height"
                fluid
            >
                <v-row>
                    <transition name="router-anim" mode="out-in">
                        <router-view :key="$route.path">
                        </router-view>
                    </transition>
                </v-row>
            </v-container>
        </v-content>
        <v-btn
            bottom
            color="pink"
            dark
            fab
            fixed
            right
            @click="dialog = !dialog"
        >
            <v-icon>mdi-plus</v-icon>
        </v-btn>
        <v-dialog
            v-model="dialog"
            width="800px"
        >
            <v-card>
                <v-card-title class="grey darken-2">
                    Create contact
                </v-card-title>
                <v-container>
                    <v-row class="mx-2">
                        <v-col
                            class="align-center justify-space-between"
                            cols="12"
                        >
                            <v-row
                                align="center"
                                class="mr-0"
                            >
                                <v-avatar
                                    size="40px"
                                    class="mx-3"
                                >
                                    <img
                                        src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                                        alt=""
                                    >
                                </v-avatar>
                                <v-text-field
                                    placeholder="Name"
                                />
                            </v-row>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                prepend-icon="business"
                                placeholder="Company"
                            />
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                placeholder="Job title"
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                prepend-icon="mail"
                                placeholder="Email"
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                type="tel"
                                prepend-icon="phone"
                                placeholder="(000) 000 - 0000"
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                prepend-icon="notes"
                                placeholder="Notes"
                            />
                        </v-col>
                    </v-row>
                </v-container>
                <v-card-actions>
                    <v-btn
                        text
                        color="primary"
                    >More
                    </v-btn>
                    <v-spacer/>
                    <v-btn
                        text
                        color="primary"
                        @click="dialog = false"
                    >Cancel
                    </v-btn>
                    <v-btn
                        text
                        @click="dialog = false"
                    >Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</template>

<script>

    export default {
        props: {
            source: String,
        },
        data: () => ({
            dialog: false,
            drawer: null,
            items: [
                {icon: 'mdi-contacts', text: 'Empleados', url: 'empleados'},
                {icon: 'mdi-registered-trademark', text: 'Marcas', url: 'marcas'},
                {icon: 'mdi-truck-check', text: 'Stock', url: 'stock'},
                {icon: 'mdi-sale', text: 'Promociones', url: 'promociones'},
                {icon: 'mdi-account-cash', text: 'Clientes', url: 'clientes'},
                {icon: 'mdi-cart', text: 'Ventas', url: 'ventas'},
                {
                    icon: 'mdi-chevron-up',
                    'icon-alt': 'mdi-chevron-down',
                    text: 'Reportes',
                    model: true,
                    url: 'reportes',
                    children: [
                        {icon: 'mdi-chart-bar', text: 'Reporte de ventas de clientes', url: 'reportedeventasdeclientes'},
                        {icon: 'mdi-chart-bar', text: 'Reporte de ventas de productos', url: 'reportedeventasdeproductos'},
                        {icon: 'mdi-chart-bar', text: 'Reporte de ventas de por mes', url: 'reportedeventaspormes'},
                        {icon: 'mdi-chart-bar', text: 'Reporte de ventas por stock', url: 'reportedeventasporstock'},
                    ],
                },
            ],
        }),
    }
</script>
